.button5 {
    background-color: rgb(130, 148, 246); 
    color: rgb(0, 0, 0); 
    border: 2px solid #008CBA;
    border-radius: 18px;
    border: none;
    width: 70px;
    height: 50px;
    

  }
  
  .button5:hover {
   background-color: rgb(81, 244, 60);
    color: rgb(255, 255, 255);
  }
  .h1h{
    color: rgb(173, 163, 119);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
    border: 3px solid rgba(152, 154, 177, 0.353);
    padding: 10px;
    text-align: center;
    margin-left:390px;
    margin-bottom:0px;
    margin-top:-60px;
    border-radius: 10px;
    background-color: rgb(33, 44, 44);

    

  }

  .divv{
    
 background-color: rgb(174, 177, 179);
 
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0%;
    border-radius: 40px;
    flex-direction:column;
    align-items:'center'
    
  }
  
